# Node
node_modules/

# Builds
/dist/
/build/
/.cache/
*.tsbuildinfo

# Env
.env
.env.*.local
.env.local

# Logs
logs/
*.log
*.log.*

# Coverage
coverage/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/

# Misc
*.swp
*.swo

# Render/Deployment
render-build/
